@(username: String, gravatarEmailHash: String, newUser: Boolean)
@welcomeMessage = {
    @if(newUser) {
        Welcome @username
    } else {
        Welcome Back @username
    }
}

@defaultParam = {
    @if(gravatarEmailHash == "") {
        d=mm
    } else {
        d=identicon
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/all.css">

    <!-- Javascript -->
    <script type="text/javascript" src="/assets/javascripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
    <title>@welcomeMessage</title>
</head>
<body>
    <div id="content" class="container">
        <div class="subheader">
            <h1>@welcomeMessage</h1>
        </div>
        <div id="mainbar">
            <div class="gravatar-container">
                <img id="gravatar-img"
                     src="http://www.gravatar.com/avatar/@gravatarEmailHash?@defaultParam.toString().trim()"/>
            </div>
            <p class="script-only">Press the button to close the browser and return to your game.
            </p>
            <!-- This button redirects to a page that will close the window.  This is done so that mobile
                 browsers (i.e. Android and iOS) can listen for the URL and take action on close. -->
            <button id="welcome-close" class="btn btn-primary " style="margin-bottom: 5px"
            onclick="window.location.href = '/close'">Close</button>
        </div>
</body>
</html>